<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name ="Suite">
    <test name = "test1">
        <classes>
            <class name = "com.test.practice.sampleTest"/>
            <class name = "com.test.practice.compressionQTest"></class>
            <class name = "com.test.practice.removeDupsfrom2strTest"></class>
        </classes>
    </test>
</suite>